{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container p-4 bg-white shadow">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <h1 class="mb-4 text-center">Sobre Nosotros</h1>
      <img src="{% static 'logo.png' %}" alt="Nuestro Equipo" class="img-fluid rounded mb-4">
      <p class="text-justify">
        <strong>MovieSphere</strong> es un trabajo de fin de grado enfocado en explorar el uso de la IA en el contexto del desarrollo web.
      </p>
      <h3>Nuestro Equipo</h3>
      <p>Francisco Jesús Montero Martínez, el estudiante, y José Antonio Parejo Maestre, su tutor, trabajan juntos para investigar y desarrollar soluciones innovadoras que integren inteligencia artificial en aplicaciones web. Este proyecto tiene como objetivo proporcionar una visión profunda sobre cómo la IA puede transformar la experiencia de usuario en la web.</p>
      <h3>Nuestra Misión</h3>
      <p>
        Nuestra misión es investigar, desarrollar e implementar técnicas de IA que mejoren la interacción y el contenido en sitios web de cine. Queremos mostrar cómo la tecnología puede enriquecer la forma en que los usuarios descubren y disfrutan del contenido cinematográfico.
      </p>
      <h3>Contacto</h3>
      <p>Para más información, preguntas o sugerencias, no dudes en contactarnos.</p>
    </div>
  </div>
</div>

{% endblock %}
