{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-6">
            <div class="card shadow-sm">
                <div class="card-header text-center">
                    <h4 class="mb-0">Editar perfil</h4>
                </div>
                <div class="card-body">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <form method="POST" action="{% url 'edit_profile' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.username.label_tag }}
                            {{ form.username }}
                            {{ form.username.errors }}
                        </div>
                        <div class="mb-3">
                            {{ form.first_name.label_tag }}
                            {{ form.first_name }}
                            {{ form.first_name.errors }}
                        </div>
                        <div class="mb-3">
                            {{ form.last_name.label_tag }}
                            {{ form.last_name }}
                            {{ form.last_name.errors }}
                        </div>
                        <div class="mb-3">
                            {{ form.email.label_tag }}
                            {{ form.email }}
                            {{ form.email.errors }}
                        </div>
                        <hr>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary btn-block">
                                Actualizar
                            </button>
                        </div>
                        <p class="text-center mt-3">
                            <a href="{% url 'password_change' %}">¿Quieres cambiar tu contraseña?</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
