<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Amonestación de Cuenta</title>
  </head>
  <body>
    <h1>Amonestación de Cuenta</h1>

    <p>Hola <strong>{{ user.username }}</strong>,</p>

    <p>
      Nos ponemos en contacto contigo para informarte que se ha emitido una
      amonestación en tu cuenta debido a una reciente revisión que no cumple con
      nuestras políticas de comunidad. Esto es específicamente en referencia a
      la siguiente revisión:
    </p>

    <h4>"{{ sample.body|escape }}"</h4>

    <p>
      Si crees que esto ha sido un error, o si tienes alguna pregunta, no dudes
      en contactarnos a este mismo correo.
    </p>

    <ul>
      <li>Gracias por tu comprensión y cooperación.</li>
    </ul>

    <p>Atentamente,</p>
    <h2>El Equipo de MovieSphere</h2>
  </body>
</html>
