{% extends 'base.html' %}

{% block content %}

<h1>Home</h1>

{% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}!</p>
{% else %}
    <p>Welcome, guest!</p>
{% endif %}

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum suscipit vero alias id. Impedit labore nulla quidem tempore placeat! Consequatur veritatis et voluptas laboriosam quo minima cupiditate. Omnis animi, minus sint iure ullam unde nostrum adipisci similique, nesciunt assumenda ducimus soluta ab rerum a distinctio fugit. Voluptatem id fuga quia nihil non provident laborum quibusdam! Molestias eaque sint veritatis sunt, ex dolores ut debitis repellat necessitatibus accusantium eligendi? Quo iure sunt, quos, animi voluptatum dolores dicta eius illo magni mollitia a. Dolor a iure optio, mollitia sed excepturi. Explicabo laboriosam ab velit quos cum autem totam et accusamus, laborum dicta.</p>

{% endblock %}