{% extends 'base.html' %}

{% block content %}

<div class="container mt-3">
    
    <form method="get" action=".">
        <div class="d-flex align-items-center row mb-5">
            <div class="col-sm">
                Género:
                <select class="form-select" name="genre" onchange="this.form.submit()">
                    <option value="none">Todos</option>
                    {% for genre in genres %}
                    <option value="{{ genre.name }}" {% if genre.name == request.GET.genre %} selected {% endif %}>{{ genre.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm">
                <input type="text" class="form-control" id="director" name="director" placeholder="Nombre del director" value="{{ request.GET.director|default_if_none:'' }}">
            </div>
            <div class="col-sm">
                <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
        </div>
    </form>
    <div class="row">
        {% for movie in movies %}
        <div class="col-md-6 col-lg-4 mb-3">
            <div class="card h-100">
                <img src="{{ movie.image.url }}" class="card-img-top" alt="{{ movie.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ movie.title }}</h5>
                    <a href="{% url 'movie_detail' movie_id=movie.id %}" class="btn btn-primary">Más información</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No se encontraron películas.</p>
        {% endfor %}
    </div>
</div>

{% endblock %}