<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notificación de Bloqueo de Cuenta</title>
  </head>
  <body>
    <h1>Notificación de Bloqueo de Cuenta</h1>

    <p>Hola <strong>{{ user.username }}</strong>,</p>

    <p>
      Lamentamos informarte que tu cuenta ha sido bloqueada debido a la
      acumulación de amonestaciones por violaciones repetidas a nuestras
      políticas de comunidad.
    </p>

    <p>
      Entendemos que esto puede ser frustrante, pero es importante para nosotros
      mantener una comunidad segura y respetuosa para todos nuestros usuarios.
    </p>

    <p>
      Si tienes preguntas o necesitas más claridad sobre tu situación
      específica, por favor, contacta a nuestro equipo. Estamos aquí para
      ayudar.
    </p>

    <p>Atentamente,</p>
    <h2>El Equipo de MovieSphere</h2>
  </body>
</html>
