{% extends 'base.html' %}

{% block content %}

<div class="container p-4 bg-light">
    <form method="get" action=".">
        <div class="d-flex align-items-center row mb-5">
            <div class="col-sm">
                <input type="text" class="form-control" id="name" name="name" placeholder="Nombre del actor" value="{{ request.GET.name|default_if_none:'' }}">
            </div>
            <div class="col-sm">
                Género:
                <select class="form-select" name="gender" id="gender">
                    {% for value, label in genders %}
                    <option value="{{ value }}" {% if value == request.GET.gender %} selected {% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </form>
    <div class="row" id="results">
        {% for actor in actors %}
        <div class="col-md-6 col-lg-4 mb-3">
            <div class="card h-100">
                <img src="{{ actor.principalImage.url }}" class="card-img-top" alt="{{ actor.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ actor.name }}</h5>
                    <a href="{% url 'actor_detail' actor_id=actor.id %}" class="btn btn-primary">Más información</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No se encontraron actores.</p>
        {% endfor %}
    </div>
</div>

<script>
    $(document).ready(function(){
      $('#name, #gender').on('change keyup', function() {
        var name = $('#name').val();
        var gender = $('#gender').val();
        
        $.ajax({
            url: '',
            data: {
              'name': $('#name').val(),
              'gender': $('#gender').val(),
            },
            dataType: 'json',
            success: function(data) {
              var actorsHtml = '';
              $.each(data.actors, function(index, actor) {
                var detailUrl = '/actors/' + actor.id + '/';
                actorsHtml += '<div class="col-md-6 col-lg-4 mb-3">' +
                    '<div class="card h-100">' +
                        '<img src="' + actor.principalImage + '" class="card-img-top" alt="' + actor.name + '">' +
                        '<div class="card-body">' +
                            '<h5 class="card-title">' + actor.name + '</h5>' +
                            '<a href="' + detailUrl + '" class="btn btn-primary">Más información</a>' +
                        '</div></div></div>';
              });
              $('#results').html(actorsHtml);
            }
          });
          
      });
    });
</script>

{% endblock %}
